.background {
    width: 65vw;
    min-height: 50vh;
    margin: 8rem auto 2em auto;
    border-radius: 10px;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, sans-serif;
    padding: 1rem;
    gap: 1rem;
}

.background img {
    width: 1rem;
    height: 1rem;
    padding: 0 1em;
}

.background a {
    color: white;
    font-family: Verdana, sans-serif;
    text-decoration:  none;
    font-size: 18.72px;
    font-weight: 700;
}