{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="static/css/touppercase.css">
<title>Area of Triangle function</title>
{% endblock %}

{% block body %}
 <div class="background">
    <h1>Get Area of Triangle</h1>

    <form action="/areaoftriangle" method="post">
        <label for="base">Enter a base:</label>
        <input type="text" id="base" name="base">
        <label for="height">Enter height:</label>
        <input type="text" id="height" name="height">
        <input type="submit" value="Convert">
    </form>

    {% if result %}
    <p>Area of Triangle: {{ result }}</p>
    {% endif %}

 </div>
{% endblock %}