{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="static/css/contact.css">
<title>Contact</title>
{% endblock %}

{% block body %}
<div class="background">
    <h1>Check Out my Socials!</h1>
    <a href="https://www.facebook.com/john.carlo.5817300">
        <img src="static\images\icon\facebook.png" alt="image not found">@john.carlo.5817300</a>
    <h3><img src="static\images\icon\gmail.png" alt="image not found">khairred123@gmail.com</h3>
</div>
{% endblock %}